*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background: linear-gradient(to top, rgb(178, 178, 178) 0%, rgb(255, 255, 255) 10%);

    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-size:cover;

    height: 100vh;
}

/* NAV BAR */

.material-symbols-outlined {
  font-variation-settings:
  /* 'FILL' 0, */
  'wght' 180,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined:hover{
    cursor: pointer;
}

.navbar{
    width: 100%;
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.navbar__ul{
    display: flex;
    justify-content: space-around;
    
    width: 30vw;
    transition: 1s;
}

ul li{
    list-style: none;
    color: rgb(5, 38, 15);
}

li > a{
    text-decoration: none;
    color: white;
    transition: 1s;
}

li > a:hover{
    color: rgb(254, 175, 175);
    transition: 1s;
}

/* MAIN SECTION  */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92vh;
    /* background-color: red; */
}

/* MAINBOX */


.mainbox{
    width: 50vw;
    height: 50vh;
    background-color: rgb(255, 255, 244);
    border-radius: 5vh;
    box-shadow: 2px 2px 200px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.mainbox__box{
    height: 15vh;
    width: 15vh;
    background-color: rgb(56, 56, 56);
    border-radius: 15%;
    margin: 30px;
    transition: 0.4s;
}

.box1:hover{
    background-color: aliceblue;
    transition: 1s;
}

.box2:hover{
    background-color: rgb(241, 255, 240);
    transition: 1s;
}
.box3:hover{
    background-color: rgb(255, 245, 240);
    transition: 1s;
}
.box4:hover{
    background-color: rgb(255, 240, 255);
    transition: 1s;
}