*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background: linear-gradient(to top, rgb(178, 178, 178) 0%, rgb(255, 255, 255) 10%);

    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-size:cover;

    height: 100vh;
}

/* NAV BAR */

.material-symbols-outlined {
  font-variation-settings:
  /* 'FILL' 0, */
  'wght' 180,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined:hover{
    cursor: pointer;
}

.navbar{
    width: 100%;
    height: 8vh;
    background-color: rgba(0, 0, 0, 1);

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.navbar__ul{
    display: flex;
    justify-content: space-around;
    
    width: 30vw;
    transition: 1s;
}

ul li{
    list-style: none;
    color: rgb(5, 38, 15);
}

li > a{
    text-decoration: none;
    color: white;
    transition: 1s;
}

li > a:hover{
    color: rgb(254, 175, 175);
    transition: 1s;
}

/* Main */

/* BOX */

.box{
    width: 100vw;
    height: 89vh;
}

.box__div{
    width: 100%;
    height: 25%;

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    border-top: 1vh solid black;
    transition: 0.5s ease-out;
}

.box1{
    background-image: url(../images/uns_1.jpg);
    border-top: none;
}

.box1:hover{
    background-size: 110%;
    transition: 1s ease-out;
}

.box2{
    background-image: url(../images/uns_2.jpg);
}

.box2:hover{
    background-size: 110%;
    transition: 1s ease-out;
}

.box3{
    background-image: url(../images/uns_3.jpg);
}

.box3:hover{
    background-size: 110%;
    transition: 1s ease-out;
}

.box4{
    background-image: url(../images/uns_4.jpg);
}

.box4:hover{
    background-size: 110%;
    transition: 1s ease-out;
}