*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 40%), url(../images/unsplash_nike.jpg);

    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;

    height: 100vh;
}

/* NAV BAR */

.material-symbols-outlined {
  font-variation-settings:
  /* 'FILL' 0, */
  'wght' 180,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined:hover{
    cursor: pointer;
}

.navbar{
    width: 100%;
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.navbar__ul{
    display: flex;
    justify-content: space-around;
    
    width: 30vw;
    transition: 1s;
}

ul li{
    list-style: none;
    color: rgb(5, 38, 15);
}

li > a{
    text-decoration: none;
    color: white;
    transition: 1s;
}

li > a:hover{
    color: rgb(254, 175, 175);
    transition: 1s;
}

/* MAIN */

.mainbox{
    width: 100%;
    height: 50vh;
    
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(8, 1fr);

    margin-top: 20vh ;
    /* background-color: red; */
}

.text-box{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.8);
    padding: 30px;

    grid-area: 2 / 2 / 2 / 6;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.text-box__h1{
    font-size: 3.5em;
    font-weight:bold;
    /* margin-bottom: 2vh; */
}

.text-btn{
    grid-area: 2 / 7;
    
    margin-top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 50%;

    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    text-decoration: none;
    transition: 1s;
}

.text-btn:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 1s;
}